//
//  Debug.xcconfig
//  BuildConfigurations
//
//  Created by Perry Waxman on 2/12/20.
//  Copyright © 2020 MobileDevs. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIG = STAGING
SERVER_URL = https:/$()/staging.api.com/
API_KEY = staging-123-456-789
